{% load static %}
<link rel="stylesheet" href="{% static 'SNSclone/css/master.css' %}">

<div class="post media">
  <h3>{{post.message_html|safe}}</h3>
  <div class="media-body">
    <h6 class='media-heading'>
      <a class='username' href="{% url 'posts:for_user' username=post.user.username %}">@{{ post.user.username }}</a>
      <time class='time'>
        <a class='time' href="{% url 'posts:single' username=post.user.username pk=post.pk %}">{{post.created_at}}</a>
      </time>
      {% if user.is_authenticated and post.user == user and not hide_delete %}
        <a href="{% url 'posts:delete' pk=post.pk %}"><input type="button" value="Delete" class='btn btn-md postdelete'></a>
      {% endif %}
    </h6>
  </div>
</div>
